# Entornos virtuales de Python
venv/
.venv/
env/
pyvenv.cfg

#Seguridad
.env
.env.*
!.env.example

# Archivos de caché de Python
__pycache__/
*.pyc

# Carpetas del sistema o de VS Code
.vscode/
.DS_Store
Thumbs.db