# Entornos virtuales de Python
venv/
.venv/
env/
pyvenv.cfg

# Archivos de caché de Python
__pycache__/
*.pyc

notificaciones.log

#Por seguridad
.env
.env.*
!.env.example

.pytest_cache/ 
*.db

# Carpetas del sistema o de VS Code
.vscode/
.DS_Store
Thumbs.db