# Entornos virtuales de Python
venv/
.venv/
env/
pyvenv.cfg

# Archivos de caché de Python
__pycache__/
*.pyc

# Carpetas del sistema o de VS Code
.vscode/
.DS_Store
Thumbs.db

# Archivos de configuración de entorno, no se pone 
.env

